body {
    margin: 0;
    padding: 0 20px;
    font-family: 'Cinzel Decorative', cursive;
}
#characters, #card, #picks {
    float: left;
}
#characters {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    margin-right: 20px;
    overflow: auto;
    height: 410px;
}
#instructions p {
    font-size: 10px;
}
.character {
    float: left;
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.dragging #characters * {
    pointer-events: none;
}

#characters .character {
    border: solid 5px transparent;
    border-radius: 1em;
}
#characters .character.selected, #characters .character:hover {
    border-color: #bb0a1e;
    pointer-events: auto;
}
.character:active {
    cursor: move;
}
.selected .slot:hover, #card .draggingover {
    background: #bb0a1e;
}
#card {
    display: grid;
    grid-template-columns: repeat(5, 82px);
    width: 410px;
    border: 1px solid #bb0a1e;
}
#card .character, .slot {
    width: 80px;
    height: 80px;
}
.slot {
    border: 1px solid black;
}
.dragover {
    background: black;
}
#picks {
    margin-left: 20px;
}
#picks p {
    font-size: 8px;
    display: block;
    margin: 0;

}
#picks a {
    display: block;
}
#output {
    height: 384px;
}